
.bloc {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #555; 
    -webkit-box-shadow: 0 0 20px #555; 
    box-shadow: 0 0 20px #555; 
    width:400px;
}
.bloc h1 {
    margin:0;
    padding:5px;
    font-size:1.5em;
    color:white;
    background-color:#333;
    border:1px solid #333;
    border-bottom:0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.bloc h2 {
    margin:0;
    padding:5px;
    font-size:1.5em;
    color:white;
    background-color:#333;
    border:1px solid #333;
    border-bottom:0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.bloc p {
    background-color:white;
    font-family: 'Gothic A1', sans-serif;
    padding:5px;
    margin:0;
    border:1px solid white;
    border-top:0;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.bloc p {
    background-color:white;
    font-family: 'Gothic A1', sans-serif;
    padding:5px;
    margin:0;
    border:1px solid white;
    border-top:0; 
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}